<ul class="main-img-card-item-list">
  <li class="main-img-card-item">
    <img class="meme-card" src={{url}} alt="">
    <div class="card-overlay">
      <button class="card-button like material-icons" type="button">thumb_up_off_alt</button>
      <button class="card-button add-to-basket" type="button">ADD TO BASKET</button>
      <button class="card-button dislike material-icons" type="button">thumb_down_off_alt</button>
    </div>
  </li>
</ul>